.footer {
    background-color: black;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;

    p {
        font-size: 14px;
        text-transform: uppercase;
    }
}
