@import '../colors.scss';

.products {
    min-height: 60vh;
    width: 100%;
    max-width: 714px;
    margin: 0 auto;

    .product-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: calc(100% + 64px);
        margin-left: -32px;

        @media screen and (max-width: 768px) {
            width: calc(100% + 20px);
            margin-left: -10px;
        }

        .product-card {
            padding: 0 32px;
            display: block;
            width: calc(100% / 3);
            margin-bottom: 44px;
            text-decoration: none;
            color: black;

            @media screen and (max-width: 768px) {
                width: calc(100% / 2);
                padding: 0 10px;
                margin-bottom: 18px;
            }

            .product-card__figure {
                .product-card__image {
                    max-width: 100%;
                    margin-bottom: 10px;
                }

                .product-card__content {
                    text-align: center;

                    .product-name {
                        font-size: 14px;
                        text-transform: uppercase;
                        margin-bottom: 10px;
                    }

                    .product-price {
                        font-size: 16px;
                        line-height: 22px;
                        font-weight: bold;
                        margin-bottom: 1px;
                    }

                    .product-installments {
                        font-size: 16px;
                        line-height: 22px;
                        color: $gray-dove;
                        margin-bottom: 14px;
                    }

                    .buy-button {
                        width: 100%;
                        display: block;
                        font-size: 14px;
                        font-weight: bold;
                        padding: 9px 18px;
                        background-color: black;
                        color: white;
                        text-transform: uppercase;
                        transition: transform 0.2s ease;

                        &:hover {
                            transform: scale(1.03);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .products {
        .product-list {
            width: calc(100% + 20px);
            margin-left: -10px;

            .product-card {
                width: calc(100% / 2);
                padding: 0 10px;
                margin-bottom: 18px;
            }
        }
    }
}
